<div class="jumbotron jumbotron-fluid">
    <p class="lead">Convert unstructured Feratel API data to schema.org annotated data and publish it to the web using semantify.it </p>
</div>


<br>

<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-dark">Login</button>
</form>
<br><br>
<p>No Account yet? Signup here!</p>
<a role="button" class="btn btn-outline-dark" href="/users/register">Register</a>
